<div class="row">
  <div class="col-md-12">
    <form action="">
      <div class="form-inline">

        <!-- after the two-way data-binding to dynamically change username, add a search function (via event binding) to search repositories as a user types -->
        <input class="form-control col-md-9" type="text" placeholder="Enter a Github Username..." [(ngModel)]="username" name="search" >
        <!-- moved search method to button and bound to click event to avoid searching repositories on each keypress -->
        <button class="btn btn-primary btn-sm" (click)="searchUser()">Search</button>
      </div>
    </form>
  </div>
</div>

<div *ngIf="user">  
  <div class="card">
      <div class="card-header">
        {{user.name}}
      </div>
      <div class="card-body">
        <div class="row">

          <div class="col-md-4">
            <img class="profile-img imh-thumbnail" src="{{user.avatar_url}}">
            <a class="btn btn-light btn-block" href="{{user.html_url}}" target="_blank">View Profile</a>
          </div>

          <div class="col-md-8">
            <div class="stats">
              <span class="badge badge-primary">{{user.public_repos}} Public Repos</span>
              <span class="badge badge-success">{{user.public_gists}} Public Gists</span>
              <span class="badge badge-info">{{user.followers}} Followers</span>
              <span class="badge badge-warning">{{user.following}} Public Repos</span>
            </div>
            <br>
            <ul class="list-group">
              <li class="list-group-item"><strong>Username: </strong>{{user.login}}</li>
              <li class="list-group-item"><strong>Location: </strong>{{user.location}}</li>
              <li class="list-group-item"><strong>Email: </strong>{{user.email}}</li>
              <li class="list-group-item"><strong>Blog: </strong>{{user.blog}}</li>
              <li class="list-group-item"><strong>Member Since: </strong>{{user.created_at | date:'longDate'}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="card">      
      <div class="card-header">
        <h3 class="card-title">Repos</h3>
      </div>
      <div *ngFor="let repo of repos">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9">
                <h4><a href="{{repo.html_url}}" target="_blank">{{repo.name}}</a></h4>
                <p>{{repo.description}}</p>
            </div>
  
            <div class="col-md-3">
              <span class="badge badge-primary">{{repo.watchers}} Watchers</span>
              <span class="badge badge-success">{{repo.forks}} Forks</span>
            </div>

          </div>
          <hr>
        </div>
      </div>
      </div>
</div>
